/*
  override default styles
*/

body{
    background: #fafafa;
}

.card-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-title{
    color: rgba(0,0,0,.65);
    font-size: 17px;
}

.ant-menu-submenu .ant-menu-submenu-title:hover{
    color: #fff;
}

/**
  override default color
**/

.ant-btn-primary{
    background-color: #00c1aa;
    border-color: #00c1aa;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: 2px solid #00c1aa;
}

.ant-tabs-nav .ant-tabs-tab-active{
    color: #00c1aa;
}

.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover{
    color: #00c1aa;
}

.ant-menu-item > a:hover{
    color: #00c1aa;
}

.ant-tabs-ink-bar{
    background-color: #00c1aa;
}

.ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: 2px solid #00c1aa;
}



.ant-btn-primary:hover, .ant-btn-primary:focus{
    background-color: #04b6a1;
    border-color: #04b6a1;
}

.ant-table .ant-btn{
    margin-bottom: 6px;
    display: block;
}

@media only screen and (min-width: 1200px){
    .ui.container{
        width: 95%;
    }
}

@media screen and (max-width: 992px){
    .page-header .account-select{
        display: none !important;
    }

    .page-header .block-number{
        display: none !important;
    }
    .page-header .logo-img{
        width: 76px !important;
        margin-right: 0 !important;
    }

}